@inject BlogService BlogService


<div class="blue-banner">
    <h1>Blogi lista</h1>
    <p>Kirjoituksia arjesta ja harrasteprojekteistani</p>

</div>

@if (_blogs is not null)
{
    var i = 0;
foreach(var blog in _blogs)
{
    i++;
    <div class="blog-post">
         @(200+i)  @blog.Title 
    </div>
    
}

}

@code {
    private IEnumerable<BlogPost>? _blogs;

    protected override async Task OnInitializedAsync()
    {
        _blogs = await BlogService.GetAllPostsAsync();
        await base.OnInitializedAsync();
    }

}