<div class="blue-banner">
    <div class="content-container">
        <div class="text-content">
            <h1>Ohanhimaki</h1>
            <p>Ohanhimaki is a blog about software development and other things.</p>
        </div>

        <div class="ascii-content">
            <AsciiArt Art="@Art" />
        </div>
    </div>
</div>

<div class="site-banner">
    <a href="/200">200 Blog</a>
    <a href="/300">300 GitHub</a>
</div>

<style>
    /*.blue-banner {*/
    /*    background-color: #001f3f; !* Dark blue *!*/
    /*    color: white;*/
    /*    padding: 20px;*/
    /*}*/

    .content-container {
        display: flex;
        align-items: center; /* Align text and ASCII art vertically */
        justify-content: space-between; /* Push them to opposite sides */
    }

    .text-content {
        flex: 1; /* Takes available space */
    }

    .ascii-content {
        flex: 1; /* Takes available space */
        text-align: right; /* Align ASCII art to the right */
    }

    /* Optional: Adjust ASCII text size */
    .ascii-content pre {
        font-size: 4px;
        line-height: 4px;
    }


    .site-banner {
        position: fixed; /* Sticks to the bottom */
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: black; /* Teksti-TV dark theme */
        color: yellow; /* Classic Teksti-TV color */
        text-align: center;
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 20px; /* Space between links */
        font-family: 'Press Start 2P', sans-serif; /* Optional: Pixel font */
    }

    .site-banner a {
        color: yellow;
        text-decoration: none;
    }

    .site-banner a:hover {
        color: red; /* Retro hover effect */
    }
</style>

@code {

    private string Art { get; set; } = @"
......................................................................................................................................................
.::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::....::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::::::::::::::::::::::-::::::::::::.......................:::-:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::::::::::::::::::::::::................=::..*@@@@....-...::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::::::::::::::::::::.......::.....-@@@%**##+:+%++*%%#@@@=...::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::::::::::::::::::.....-%%@@@@%##*+*#+*#%@@%#*#**#%*==+#@#...:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::::::::::::::......-%%*+=--=+#@@%*+==+**+==-=#+#%%#**++=*%#....:::::::::::::::::::::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::::::::::::...::--::=#@@@@%+..:=*%%#++++**+@###-+#%+-+##=+*@*...::-:::::::::::::::::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::::::::::....%@@@%@@+:-*#%@@@@*.-=+*++**+=+-%@#**%%%+--#+-+#@%+...::::::::::::::::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::::::::..-@@@#***%%@@+...:+*@@@@@%#+--#@.=-=#@*-=@@#-..#+.:=+**-...::::::::::::::::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::::::::.:@@#++=+*+#+=*%%@*-....:#@@#%*+-#*.===##@+=%@@#..-*=---=**+....:::::::::::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::::::..++.-+++**==*+-:+%@@@@@@-.-@@@#*+-*@=..-#..-+@@@@=..#++..+=+##+...:::::::::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::-::..**+###=+===++==:.......=@@%:.:*@@#%@@@*..:%....+@@@-.=@#..-=--**-...:::::::::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::::....@%%%*+##%@@@@@@@@@@@#+-:-...@%...=-.*@@@@@=*@-....%@@++@@=.:++-=#*+:..:::::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::...=@**=++====::::=**=:.........:%+%*-.:--=-:=*@@@@@+........+@#..=*+-===-..::::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::.:@%--=+#*+++-++#@#-....:#@@@@@@@:.+@@@:-::::**-.:@@@@%=##+*+..#+=:-+*+==+=.::::::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.+@#*+++=++***#@@%....-@@@@@@@@@%@@@-..#@@:*@@%@@@#==:#@@+%#*@@-.=#=:-+**--=-.:::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::::+:-##*+==+*%%:=*=%@@@@*%=@*+*#=+*#%#.*-.......:-:-:=-=@%@*@@#%-=#-=%#%#+--..::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::..#+=+==+++%+-:+.:%@@@@=%%-=.--+=#%*=%#+*@@@#**#=+**#*-==-++#*##%%@@-:*#@%*-....::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::..*#+=-+--+++===*@@@*=-=+-=-==+--=--++*#*+=*%%@###%####*++==-=+++++**@%***#%+:::..:-:::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.=#***=--+-=--+#%#-:.:-::::.:-.:----++==+*+=--=+=-==---:----+=---===+*====+*#@@#:::-:::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::..**==-=++-=-+#*-:-=---:-=+*+++=---==---:-=::::::::---=====--=========**+#*#**=...:::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::..#+=+:=*=+*+*=--+==-==+===---=====---------=--==--==+==+++*+++======-=+-+==**#*...-:::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.-@++--=+=*#--==+=====---==--=--------=---:-----==-==+==+===+=======+===:*--+**@#:.::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.-%==:-====*==+=-======-===+=====+=--====-=-==-=======-=+===+=+++++=+++-=*--+++*%..::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.:+==::-=--=---==========-----:--::-------===--------==========+====+==+=---=+-+#*.::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.-+=+===-======+===-----==---==-+*==----------==---=========+========++*=:======##..:::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.===+=-=============-----------:=-:--------=----=--=====++++=++==+=====+=:====--+*..:::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.-==-----============--=------------------==-===+*++=++++=+++==++==+++=====++==-=*-.:::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.:++-=--====-=====-=--==========-==================++*+=+==++=====-=++==---=+=+--*+.:::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::..-++-=--=+===+===+======+=======+===================--====++=++*+*+==+===--===+++*=.:::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::.:=+=-=:--============-----------=++===-=-===---:::::--===-==+===-===++==--==-=--=#+.:::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::.:==-==:--========--==-==--::--::::--=-::--::::::-:-:........::--=+==+=++========-*+..::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::.:====---=======--:...........:--:::-:--::=+---::::....=+#*+---+=---=+======-==+*==*..::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::.:=====+=-=+=--=---+#%@@%*=--=--------==-----:-=++#%@@@@@@@@@@@@%%#+-=++++*====-=--*:.::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.=+=====+==-=+*#@@@@@@@@@@@@%*==------====---====***#**=+=---*@@@@@#==++++--===-===..::::-:::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.-+=-:-==--:+@@@#=-==-.:.-=*#**===-=++=-==------*==-.............:+%%*++++=-==:-++:....::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.:=+-::=-==#@#=..............-+++=--:-=-==:-+*##+=:+@@#=--::-:.:-=-++=+*++--=++=*%%%#:..:::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::-:::...-+-.:====*#:.....-==-:+#@@@+=+*##-::-::-=-*##*%@@@%#@@@@@@@@@@..:+=====*=-=+=++=-%@@..:::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::...::=#+---===+-:.:@@@@@@@@@@=#@@%%@++*------=+#=#@=+@@:.+@@@@@+%@@@%-=====+=-===+*+*+%@@:.:::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::..++**@*-:::=+==:*@@@*.@@@@@%..#@@.:+:+-:-::=-=+-+-.++*#-.........:*@@#=++=++++-==-==:+*#:.:::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::.#@@=--=+=+===:=#@#=.:.......-+=...:+-+=-===+--++-=+####**:....-=--::-+++++=++**=:=*::*@#:.:-:::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::.+@*=----:+==+=+=::-:......=+#%@@%+:=++--===+==++=-:-=#%%@@@@@@%%#+---==+*=+====:%*:..-%#..:::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::..+#+-:*%-.---++=:---=*%@@@@@@#+-..---==+-==++==-=++---::::::...::.:-=====*+++-=*@@%*#=.#+..:::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::.-*%=-.:%#-:=++-===---:.....:..:-==++=+*++=+***===++++=-====+**++++=-===++=*++-=+--*#+:@-.::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::.:+%-::=%@%=+++===--===+*+++=-==--:::-++===+++*+=---::-=+============----==++=+==..*%-+@..::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::..:#--*+-*=-=+====-====+=--:==-:.:=+=++-+==++=+++*#%%*:..:-========+++======+++-=:%@=-@*.:::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::-:::..+*:*#+=:=+=-----==------::..-*%%%#*+*++=+####***++#@#+:::-=--==-=+===+=+====@@*#-:%#..::--:::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::.-%=:%@%--==-++===+=:----::+%@*==-+==-:....-=--==--==##%*=--=-----===+*+===+*#=--#@#..::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::.-#-.#@@==--=------:-----=%##=.........--:.........+*++##++-===+--====+==---...:=%=..::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::.-#*..*--==+--::-==--==+#+-*#+#@@@%#=-:.:=#@@@@@@@@+-:-+*==+=--=====+====:*@@+:*=..:::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::-:..=+=+*==+======-=+===+*=::-*%##@@@@@@@@@@@%#**+=====+====--=+*+=========:@@@@%:..:::-::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::-:.:-+=#+-+===+=+###+++*=-*==::=+*=:**#@@@++==+*+**##+-==-:::-==+=*+==+=+=-=#@=...:::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::-::.=#%+-========-===:.:-+-=+#*++=-+:-=--:..::-.==*##%%%%#+.:-======++=++=:.....::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::--:-:.:%@*++++===-==+*++@%*%=::..:-:.-:.:::-====--:....-#*%@%=-=-==++-===**...:::-:-:::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::-:---:...-+==++==-=--=*#*=....:===-=*####@@@@%@@@@@%+-..:=+#*=--==-+=++-=**.::-:--:::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::------:::-*=:==--:-==++**++@@@@@@@@@@@@@@@*+#@=*#:*@@@@@%===+*=:===+++==+*=.::::-::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::::-------.++---=+--===+*+##@@@@...................:=#@@..-==*-::==+=---=+*:.---:-::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::-:-:-------:=*=--===-:::+=++...%@@@#@#@:.-%%=-%@@@@@@@@%:.---#=:.-=++---=+++.:-:-::::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::-::::-:---.+*=:--++=-:-+=--:..+@@@@@@@@@@@@@@++#*#%%=:.-=--==:++*+#=-=++**.:--:::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::::::::-::----::+*=-::-=--::-:--:-.-+#+=++*=-=--=**%##=-:--=-=----===-=--=+=##.::-:::::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::::::::-:---:.+#+-::--:==+--=--::...-=++*****+=:....:-=:====+*=====--++++%*..-:-::::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::-::::------------::*++=--====-------=-:...........:.:-==-=#%#+++=+*+----=*+++#+..:-:--::::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::::::-::-----:..=+*=:----===--=-====+**##=----+=*=======--+++--=--=+**++****..-:-:::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::-:::-----:-----------.:@+=+*=-=+=:-==:::---..-=+*##@@@#**++==--+--===++=-+*#**+*++-@%..::-::::::::::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::-::-:--:-------.%@--=+*+-=*+::-+++==+******+=+++**++*+++======+-==+#*++++===.@@..:-:---:-:::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::----------:..*@:-+=+**=+++=:-=--++==+---:.::::=***+=*+=**=**+*#**++++++=:.@@...:--:::::::::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::::--------:.*@@..===+***++--%##=-++-==--=----::-:+==++**=-++***+++=====---@@@@=.::-::-:-:::::::::::::::::::::::::::::::.
.::::::::::::::::::::::::::---:-----::-:.:*@@%.-=-=+**##%*=-:====---=+%*==+==--+**-==*##*#*+**++=-----:@@.......:-.::.:-:::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::-:::-::....=@%-@:.:---=+=+%%%=+**==--+++:::-==+++==+###%%#++*++=========#@..%*@=.....:::-::::::::::::::::::::::::::::::.
.:::::::::::::::::::::::::::::-:........#@@..@@-.:--==*==*@@%%##@@@*++*#%%#**%*%@#@@@@++**+++=======**@@..@@@@.-:......::::::::::::::::::::::::::::::.
.:::::::::::::::-::::::::::::.....#=-@@@-.=@@@@@+-.:-===+==+%@@@@%%%##%####*#%@@@@@**++*+++=====*++***@@%.-@@@@@@@@@.....::::::::::::::::::::::::::::.
.::::::::::::::::::::::........:@@@@@@@@@@@@..@@@#=-.:===+=-====+#@@@@@@@@@@@@@##*+*#***#%#*+**+=*++@@@@@%=@...-..#@@@*........:::::::::::::::::-::::.
.::::::::::::::::::.......-@@@@#@@...@@@@@@....@@%#*=-.::-+*==**=..:--==++=====++******#*++=+++*+#*#*....*@@%.+@@@.=@@@@@@@%.......::::::::::::::::::.
.:::::::-::::::.......@@@@@@@@@@@@@...:=..=@@.#@@%#%*++-----====+*++==+*===+=+*++****##++++++++=+#%%@@@.@@@@@@@@@@@-.=@@@@@@@@@@@-.....:::-::::::::::.
.:::::-:::........=@@@@-.:@@+-..*%@@@@++...:..=@=###*#*++==:--:----=+++=#*+++++++++*++++*++=-=++***:*@@@#....*#@@.-@@@-...@@-.+-#@@@@.....:::::.:::::.
.:::::.......@@@@@@@*-@@@@@.*@@@@@@@@@@@%@.:.:@@@*#%****+=*++*+-=-=-:::.::.:---===+**##==:====+#*#++%@.@..@%.=@%%@@@@@@@*.:@%..#%@%-:@@@.......::::::.
.:........@@@@.......#@@@@+..@@.-@@@@=-@@=.#@@@@@=+#*+++****+=+*++:-::::::::--=+*##*+----=+=++#*=-@@@@*@..@@=#%..@@+*@@*@@@@@@**@@@..-@@@:-@:......::.
....+@@@=%@@@=..*=:@@@....@@@....:@@-.@%...@@.+@@@..+***++++***+==+++***+***##%#+=---=======*%%%@@@.@@@@..@@-@@#:.=@@#@@@@@%=.......@@@@@@@@@@@@......
.+@@@-.:*@@@@+.-:@@@@@@-..%@@@@@@=@@@.@@+@@@...@*@@@===+++==+=****+==-----------==+======+*#@:.-@@-.@.*@@....@@*%#.*....@@#..:@@@@@@@*........%@@@.:..
@@...--:%#...-.:+.....+@@@@@@*.....=+@@@.-@@..:@%-*@@%=......................................=@@%..@*.:.@@=..@%.@@@@:...-#...%@@@*.....--....+#=*=+%..
";

}