@page "/{pageNumber:int?}"
@inject NavigationManager Navigation
@inject BlogService BlogService
@inject PagesService PagesService

<PageTitle>Teksti-TV</PageTitle>

<div class="tekstitv-container" @onkeydown="HandleKeyDown" @onmousedown="FocusContainer" tabindex="0" @ref="_containerRef">
    <div class="page-input">
        @{
            var className = _inputIsError ? "input-error" : "";
        
            <div class="@className">
                @("p"+inputDisplay)
            </div>
        }
        
    </div>

    <div class="page-content">
        @if (_posts is null)
        {
            <div>Loading...</div>
        }
        else
        {
            
            var componentType = PagesService.GetPageComponent(pageNumber ?? 100);

            if (componentType == typeof(BlogPostPage))
            {
                var blogIndex = (pageNumber - 200) ?? 0;
                var blog = _posts.ElementAtOrDefault(blogIndex - 1);
                <BlogPostPage Blog="@blog"/>
            }
            else
            {
                <DynamicComponent Type="componentType"/>
            }
        }
    </div>
</div>

@code {

    private void NavigateToPage(string page)
    {
        Navigation.NavigateTo($"/{page}");
    }

[Parameter] public int? pageNumber { get; set; } = 100;

    private string inputBuffer = "";
    private string inputDisplay = "***";
    private bool _inputIsError;
    private List<BlogPost>? _posts;


    protected override async Task OnParametersSetAsync()
    {
        inputDisplay = pageNumber?.ToString() ?? "xxx";

        _posts = (await BlogService.GetAllPostsAsync()).ToList();
        
        await base.OnParametersSetAsync();
        
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key.Length == 1 && char.IsDigit(e.Key[0])) 
        {
            
            inputBuffer += e.Key;
            inputDisplay = inputBuffer.PadRight(3, '*');

            if (inputBuffer.Length == 3) 
            {
                var result = CheckIfViablePage(inputBuffer);
                Console.WriteLine($"result: {result} inputBuffer: {inputBuffer}");
                if(result)
                {
                    Navigation.NavigateTo($"/{inputBuffer}");
                    inputBuffer = "";
                    // inputDisplay = "***";
                }
                else
                {
                    await MarkInputError();
                }
                // inputDisplay = "***";
            }
        }
        // up and down for bigger and smaller
        else if (e.Key == "ArrowUp")
        {
            var validPages = PagesService.GetValidPages();
            
            var current = pageNumber ?? 100;
            var currentIndex = validPages.IndexOf(current);
            if (currentIndex < validPages.Count - 1)
            {
                pageNumber = validPages[currentIndex + 1];
                NavigateToPage(pageNumber.ToString());
            }
            inputBuffer = "";
        }
        else if (e.Key == "ArrowDown")
        {
            var validPages = PagesService.GetValidPages();
            
            var current = pageNumber ?? 100;
            var currentIndex = validPages.IndexOf(current);
            if (currentIndex > 0)
            {
                pageNumber = validPages[currentIndex - 1];
                NavigateToPage(pageNumber.ToString());
            }
            
            inputBuffer = "";
        }
    }

    private async Task MarkInputError()
    {
        _inputIsError = true;
        StateHasChanged();
        // wait 1sec
        await Task.Delay(1000);
        _inputIsError = false;
        inputBuffer = "";
        inputDisplay = pageNumber?.ToString() ?? "xxx";
        StateHasChanged();
    }
    

    private bool CheckIfViablePage(string s)
    {
        var pages = PagesService.GetValidPages();
        return pages.Contains(int.Parse(s));

    }

    private ElementReference _containerRef;

    private void FocusContainer()
    {
        _containerRef.FocusAsync();
    }

}
